# compiled output
**/dist
**/target
**/build
/node_modules
**/node_modules
**/.eslintcache
docs/diagrams/*.png

# Secrets
.env** 
.bac-env**
!**.global
.npmrc
.npmrc.bac
# Logs
logs
*.log
npm-debug.log*
lerna-debug.log*

# OS
.DS_Store
**/.DS_Store
# Tests
**/coverage
**/.nyc_output

# IDEs and editors
.vscode
**/.vscode
.idea
**/.idea
.project
**/.project
.classpath
**/.classpath
.c9/
**/.c9/
.launch
.settings/
*.sublime-workspace
*.sw*

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

